html,
body,
#container,
#overlay-start {
    font-weight: 700;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#overlay-start {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.875);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
#score {
    position: absolute;
    top: 0%;
    left: 80%;
    visibility: hidden;
}
#score p {
    font-size: 2em;
    margin: 0;
}
#coins {
    position: absolute;
    top: 5%;
    left: 80%;
    visibility: hidden;
}
#coins p {
    font-size: 2em;
    margin: 0;
}
#overlay-start p:nth-child(1) {
    color: #00FFFF;
    font-size: 80px;
    margin-top: 200px;
    font-family: "Algerian";
}
#mainScreen {
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#mainScreenElements {
    visibility: hidden;
}
#mainScreenTitle {
    visibility: inherit;
    color: #00FFFF;
    font-size: 60px;
    margin-top: 1%;
    font-family: "Algerian";
    text-align: center;
}
#mainScreenOnline {
    visibility: inherit;
    width: 20%;
}
#mainScreenOnline p {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 auto;
    margin-left: 2%;
    font-family: "mv boli";
}
#mainScreenStatistic {
    visibility: inherit;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 20%;
    text-align: left;
    display: inline-block;
    float: left;
}
#mainScreenStatistic p {
    color: #FFFFFF;
    font-size: 35px;
    font-family: "mv boli";
}
#mainScreenTop {
    visibility: hidden;
    display: inline-block;
    float: right;
    text-align: center;
    margin: 0 auto;
    width: 40%;

    border-spacing: 10px;
    border-collapse: separate;
    border: none;
}
/*#mainScreenTop table {
    border-spacing: 10px;
    border-collapse: separate;
    border: none;
}*/
#mainScreenTop caption, td {
    text-align: center;
    color: #FFFFFF;
    font-family: "mv boli";
}
#mainScreenTop caption {
    font-size: 35px;
}
#mainScreenTop td {
    width: 10%;
    padding: 0;
    font-size: 25px;
}
#mainScreen button {
    font-family: "Algerian";
    font-size: 30px;
}
#btnStartGame {
    margin: 0 auto;
    position: absolute;
    visibility: inherit;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#inputs {
    margin-left: 43%;
    width: 15%;
    font-family: "mv boli";
}
#inputs input {
    margin-bottom: 3%;
}
#buttons button:nth-child(1) {
    font-size: 20px;
    margin-top: 2%;
    float: left;
}
#buttons button:nth-child(2) {
    float: right;
}
#modalBoxResult h4,
#modalBoxReg h4 {
    font-family: "mv boli";
    font-size: 25px;
}
#modalBoxReg input {
    font-family: "mv boli";
    margin-bottom: 2%;
}
#modalBoxResult p {
    font-family: "mv boli";
    font-size: 20px;
}
#modalBoxResult button,
#modalBoxReg button {
    font-family: "mv boli";
    font-size: 20px;
}
#btnRegRegistr {
    float: left;
}
#validationAuth,
#validationReg {
    display: none;
    border: 1px solid;
    margin: 10px 0px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D63301;
    background-color: #FFCCBA;
}